body {
  width: '100%';
  height: '100%';
  margin: 0;
  padding: 0;
}

.headline {
  text-align: center;
  font-family: 'Helvetica Neue';
}

.imgholder {
  width: 100%;
  text-align: center;
}

.planetthumb {
  width: 640px;
  height: 450px;
}

.formarea {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.locinput[placeholder]{
  text-align: center;
}

input.locinput:focus{
  outline: none;
}

.locinput {
  width: 200px;
  height: 25px;
  font-size: 18px;
  font-family: 'Helvetica Neue';
  border: none;
  border-bottom: 1px solid;
}